# Introduction to Scikit-Learn (sklearn)

This notebok demoonstrates some of the most useful functions of the beautiful Scikit-Lean library.

What we're going to cover:

An end-to-end scikit-learn workflow.
1. Getting the data ready.
2. Choose the right estimator/algorithm for our problems.
3. Fit the model/algorithm and use it to make predictions on our data.
4. Evaluating a model.
5. Improve a model.
6. Save and load a trained model.
7. Putting it all together!

In [18]:
import numpy as np

## 0. An end-to-end Scikit-Leanr workflow

In [3]:
#1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# Create X (features matrix)
X = heart_disease.drop("target", axis = 1)

#Create Y (labels matrix)
Y = heart_disease["target"]

In [5]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [9]:
# 2. Choose the right model and hyperparameters.
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [36]:
len(X_train), len(Y_train)

(242, 242)

In [17]:
clf.fit(X_train, Y_train);

In [21]:
# Make a prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0], dtype=int64)

In [22]:
Y_test

63     1
120    1
6      1
104    1
98     1
      ..
242    0
90     1
55     1
10     1
244    0
Name: target, Length: 61, dtype: int64

In [23]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, Y_train)

1.0

In [24]:
clf.score(X_test, Y_test)

0.8360655737704918

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.83      0.83      0.83        29
           1       0.84      0.84      0.84        32

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [27]:
confusion_matrix(Y_test, y_preds)

array([[24,  5],
       [ 5, 27]], dtype=int64)

In [28]:
accuracy_score(Y_test, y_preds)

0.8360655737704918

In [32]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,5):
    print(f"Trying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy in test set: {clf.score(X_test, Y_test) * 100:.2f}%")
    print(" ")

Trying model with 10 estimators
Model accuracy in test set: 78.69%

Trying model with 15 estimators
Model accuracy in test set: 80.33%

Trying model with 20 estimators
Model accuracy in test set: 81.97%

Trying model with 25 estimators
Model accuracy in test set: 77.05%

Trying model with 30 estimators
Model accuracy in test set: 83.61%

Trying model with 35 estimators
Model accuracy in test set: 83.61%

Trying model with 40 estimators
Model accuracy in test set: 81.97%

Trying model with 45 estimators
Model accuracy in test set: 83.61%

Trying model with 50 estimators
Model accuracy in test set: 85.25%

Trying model with 55 estimators
Model accuracy in test set: 81.97%

Trying model with 60 estimators
Model accuracy in test set: 83.61%

Trying model with 65 estimators
Model accuracy in test set: 80.33%

Trying model with 70 estimators
Model accuracy in test set: 83.61%

Trying model with 75 estimators
Model accuracy in test set: 80.33%

Trying model with 80 estimators
Model accuracy in test set: 81.97%

Trying model with 85 estimators
Model accuracy in test set: 80.33%

Trying model with 90 estimators
Model accuracy in test set: 81.97%

Trying model with 95 estimators
Model accuracy in test set: 78.69%

In [34]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [35]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.7868852459016393